<div class="container">
  <div class="alert-danger shadow rounded">
    <% if @service != nil && @service.errors.any? %>
      <h4>Os seguintes erros foram encontrados:</h4>
      <ul>
        <% @service.errors.full_messages.each do |msg| %>
          <% if msg == "Title can't be blank" %>
              <li>O resumo do serviço não pode ficar em branco</li>
          <% elsif msg == "Title is too short (minimum is 6 characters)" %>
              <li>O resumo do serviço é muito pequeno (mínimo 6 caracteres)</li>
          <% elsif msg == "Description can't be blank" %>
              <li>A descrição não pode ficar em branco</li>
          <% elsif msg == "Description is too short (minimum is 10 characters)" %>
              <li>A descrição é muito pequena (mínimo de 10 caracteres)</li>
          <%end%>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="container" id="cards-width">
    <%= form_with(model: @service, class: "shadow p-3 mb-3 bg-info rounded centralizar", local: true) do |f| %>
        <div class="centralizar">
            <h5 class="text-light">Qual serviço você precisa?</h5>
            <div class="form-group row">
                <div class="centralizar-form-newservice">
                <%= f.text_field :title, class: "form-control shadow rounded", placeholder: "Resumo do Serviço" %>
                </div>
            </div>

            <h5 class="text-light">Dê detalhes do serviço que você precisa</h5>
            <div class="form-group row">
                <div class="centralizar-form-newservice"> 
                <%= f.text_area :description, rows: 10, class: "form-control shadow rounded", placeholder: "Descrição do Serviço" %>
                </div>
            </div>

            <h5 class="text-light">Deseja colocar uma data para encerrar o anuncio do serviço?</h5>
            <div class="form-group row">
                <div>
                    <%= f.date_field :encerramento_anuncio %>
                </div>
            </div>

            <h5 class="text-light">Quanto você vai pagar pelo serviço?</h5>
            <div class="form-group row">
                <div>
                    <%= f.number_field :preco %>
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <%= f.submit( @service.new_record? ? "Criar Artigo" : "Editar Artigo",class: "btn btn-outline-light btn-lg" ) %>
            </div>
        </div>
    <% end %>
  </div>
</div>