<div class="container">
  <div class="alert-danger alert-dismissible fade show container" role="alert" style="width:60%;">
    <% if @service != nil && @service.errors.any? %>
      <h4>Os seguintes erros foram encontrados:</h4>
      <ul>
        <% @service.errors.full_messages.each do |msg| %>
          <% if msg == "Title não pode ficar em branco" %>
              <li>O resumo do serviço não pode ficar em branco</li>
          <% elsif msg == "Title é muito curto (mínimo: 6 caracteres)" %>
              <li>O resumo do serviço é muito pequeno (mínimo 6 caracteres)</li>
          <% elsif msg == "Description não pode ficar em branco" %>
              <li>A descrição não pode ficar em branco</li>
          <% elsif msg == "Description é muito curto (mínimo: 10 caracteres)" %>
              <li>A descrição é muito pequena (mínimo de 10 caracteres)</li>
          <% elsif msg == 'Value não pode ficar em branco' %>
              <li>O Valor do serviço não pode ficar vazio</li>
          <%end%>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="container bg-light shadow rounded border border-primary" id="cards-width" style='width:40%;'>
    <%= form_with(model: @service, class: "", local: true ) do |f| %>
        <div class="centralizar">
            <h5 class="mt-2">Qual serviço você precisa?<span style="color:red;">*</span></h5>
            <div class="form-group row">
                <div class="centralizar-form-newservice">
                <%= f.text_field :title, class: "form-control shadow rounded", placeholder: "Resumo do Serviço" %>
                </div>
            </div>

            <h5>Dê detalhes do serviço que você precisa<span style="color:red;">*</span></h5>
            <div class="form-group row">
                <div class="centralizar-form-newservice"> 
                <%= f.text_area :description, rows: 10, class: "form-control shadow rounded", placeholder: "Descrição do Serviço" %>
                </div>
            </div>

            <h5>Existe data limite para realização do serviço?</h5>
            <div class="form-group row">
                <div>
                    <%= f.date_field :limit_date %>
                </div>
            </div>

            <h5>Quanto você vai pagar pelo serviço?<span style="color:red;">*</span></h5>
            <div class="form-group row">
                <div>
                    <%= f.number_field :value %>
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <%= f.submit( @service.new_record? ? "Criar Serviço" : "Editar Serviço",class: "btn btn-primary", style:"width:60%" ) %>
            </div>
        </div>
    <% end %>
  </div>
</div>