<div class="welcome-background">
  <h1 style="margin-top: 90px;"><%= t('.sign_up') %></h1>

  <div class="text-center form-devise container shadow rounded border border-primary shape-color mb-5">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= bootstrap_devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: 'Digite seu email', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :nome %><br />
        <%= f.text_field :name, autocomplete: "Digite Seu nome", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :telefone %>
        <em class="form-text text-muted">((DDD)Número)</em><br />
        <%= f.telephone_field :phone_number, autocomplete: "Digite telefone", pattern: '\([0-9]{2}\)[0-9]{4,6}-?[0-9]{3,4}$', class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= f.label :senha %>
        <% if @minimum_password_length %>
          <em class="form-text text-muted">(No mínimo <%= @minimum_password_length%> caracteres)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: 'Digite sua senha', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :confirmar_senha %>
        <%= f.password_field :password_confirmation, autocomplete: 'Confirmar senha', class: 'form-control' %>
      </div>

      <p> Para Criar sua Conta Você deve Aceitar:</p>

      <div>
        <%= f.check_box :accepted_terms_of_use %>
        <%= link_to 'Termos de Uso', terms_index_path, target: "_blank" %>
      </div>
      
      <div>
        <%= f.check_box :accepted_privacy_policy %>
        <%= link_to 'Política de Privacidade', policy_index_path, target: "_blank" %>
      </div>

      <div class="form-group" id="sign-up-btn">
        <%= f.submit t('.sign_up'), class: 'btn btn-primary' %>
      </div>
    <% end %>
    <%= render 'devise/shared/links'%>
  </div>
</div>