<h5>Mostrar Serviços</h5>
<% @services.each do |service|%>
    <% prestador = get_prestadores_on_goin(service) %>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="height:300px">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Encerrando Serviço</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Por favor, dê uma nota para o usuário que realizou o serviço:</p>
                    <%= form_for(UserService.new, url: user_service_path, remote: true,method: :delete ) do |f| %>
                    <div>
                        <%= f.radio_button :comment, '1' %> 
                        <%= f.label :comment, '1', :value => 1 %>
                        <%= f.radio_button :comment, '2' %>
                        <%= f.label :comment, '2', :value => 2 %>
                        <%= f.radio_button :comment, '3' %>
                        <%= f.label :comment, '3', :value => 3 %>
                        <%= f.radio_button :comment, '4' %>
                        <%= f.label :comment, '4', :value => 4 %>
                        <%= f.radio_button :comment, '5', :checked => true%>
                        <%= f.label :comment, '5', :value => 5%>
                    </div>
                    <%= f.hidden_field :chat, value: current_user.id.to_s + prestador.id.to_s %>
                    <%= f.hidden_field :service_id, value: service.id %>
                    <%= f.hidden_field :prestador_confirm, value: false %>
                    <%= f.submit 'Encerrar Serviço',
                        class:"btn btn-primary mt-5",
                        data: { confirm: "Tem certeza que deseja finalizar o serviço? depois de Finalizado não há como abrir novamente!" } 
                    %>
                <% end %>
                </div>
            </div>
        </div>
    </div>
    <div id="page-content">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-8 mt-4">
                    <% if current_user.isContratante %>
                        <button type="button" class="border border-secondary btn-danger close-user-service-red" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <%=(fa_icon 'close')+'Encerrar Serviço'%>
                        </button>

                    <% elsif !current_user.isContratante && !service.finished_prestador %>
                        <%= form_for(UserService.new, url: user_service_path, remote: true,method: :delete ) do |f| %>
                            <%= f.hidden_field :prestador_confirm, value: true %>
                            <%= f.hidden_field :service_id, value: service.id %>
                            <%= f.submit 'Confirmar Realização',
                                class:"border border-secondary btn-success close-user-service-green",
                                data: { confirm: "Tem certeza que deseja confirmar a realização do serviço? Essa ação não pode ser desfeita" }
                            %>
                        <% end %>
                    <% end %>
                    <div class="card text-center shadow mb-5 bg-white rounded border border-secondary">
                        
                        <div class="card-header font-italic">
                            <h5 class="text-center mt-4"><%= service.title %></h5>
                        </div>

                        <div class="card-body">
                            <p class="card-text mt-2"><%= service.description %></p>

                            <div class="hstack gap-3 d-flex justify-content-center mb-3">
                                <% if service.limit_date %>
                                    <div>
                                        <h6 class="mt-3">Realizar Ate:<h6>
                                        <div class="card-text text-left" style="font-size:1.3rem;">
                                            <%= service.limit_date.strftime("%d/%m/%Y") %>
                                        </div>
                                    </div>
                                <% end %>

                                <div>
                                    <h6 class="mt-3">Remuneração:<h6>
                                    <div class="text-success" style="font-size:1.4rem;">
                                        <%= ActionController::Base.helpers.number_to_currency(service.value, :unit => "R$ ", :separator => ",", :delimiter => ".") %>
                                    </div>
                                </div>
                            </div>

                            <% if current_user.isContratante %>
                                <h6>Meios de Contato do Prestador:</h6>
                                <div class="item" id=<%= prestador.id.to_s %> style="border-radius:25px;">
                                    <p>Passe o Mouse Aqui Para Ver</p>
                                    <div class="descricao">
                                        <% if prestador.permit_phone_number%>
                                            <%= (fa_icon 'phone') %>
                                            <%= prestador.phone_number %><br>
                                        <% end %>
                                        <% if prestador.permit_email %>
                                            <%= (fa_icon 'envelope') %>
                                            <%= prestador.email %>
                                        <% end %>
                                    </div>
                                </div>

                                <% unless permit_comunication(prestador) && permit_comunication(current_user) %>
                                    <% if permit_comunication(prestador) %>
                                        <p>Como você não compartilha seus dados de contato, utilize nosso chat:</p>
                                    <% else %>
                                        <p>O usuário não compartilha seus dados de contato, utilize nosso chat:</p>
                                    <% end %>
                                    <%= link_to 'Acessar Chat', chatroom_index_path(current_user.id.to_s + prestador.id.to_s), class: "btn btn-primary" %>
                                <% end %>
                            <% else %>
                                <h6>Meios de Contato do Contratante:</h6>
                                <div class="item shadow border border-secondary" id=<%= service.user.id.to_s %> style="border-radius:25px;">
                                    <p>Passe o Mouse Aqui Para Ver</p>
                                    <div class="descricao">
                                        <% if service.user.permit_phone_number%>
                                            <%= (fa_icon 'phone') %>
                                            <%= service.user.phone_number %><br>
                                        <% end %>
                                        <% if service.user.permit_email %>
                                            <%= (fa_icon 'envelope') %>
                                            <%= service.user.email %><br>
                                        <% end %>
                                        <% if service.user.address %>
                                            <%= (fa_icon 'map-marker') %>
                                            <%= service.user.address %>
                                        <% end %>
                                    </div>
                                </div>
                                <% unless permit_comunication(service.user) && permit_comunication(current_user) %>
                                    <% if permit_comunication(service.user) %>
                                        <p>Como você não compartilha seus dados de contato, utilize nosso chat:</p>
                                    <% else %>
                                        <p>O usuário não compartilha seus dados de contato, utilize nosso chat:</p>
                                    <% end %>
                                    <%= link_to 'Acessar Chat', chatroom_index_path(service.user.id.to_s + current_user.id.to_s), class: "btn btn-primary" %>
                                <% end %>
                            <% end %>
                        </div>
                        <div class="card-footer text-muted">
                            <% if service.finished_prestador %>
                                <small>Serviço Aguardando Confirmação a <%= time_ago_in_words(service.updated_at) %> atrás</small>
                            <% else %>
                                <small>Serviço Atualizado a <%= time_ago_in_words(service.updated_at) %> atrás</small>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>