<% if @user_geocode %>
    <div 
        class="shadow rounded-3" 
        style="background-color: white; width:400px;overflow:hidden;margin:auto;"
    >
        <p class="mt-2">Clique para atualizar sua localização</p>
        <%= form_with(model: @user_geocode, class: "pt-3 rounded", local: true, id: 'get-location-form') do |f| %>
            <%= f.hidden_field :id, value: current_user.id %>
            <%= f.hidden_field :lat_lon, value: "", id: 'lat_lon' %>
            <%= f.submit('Atualizar Localização', class: "btn btn-primary link_form", method: :edit) %>
        <% end %>
        <%= button_to 'Remover Minha Localização', user_place_path(@user_geocode), class: "btn btn-danger my-4 link_form", method: :delete, data: { confirm: "Se você parar de compartilhar sua localização você não poderá mais usar a funcionalidade de pessoa proximas, tem certeza que deseja continuar?" } %>
    </div>
    <div class="user-div" >
        <% if @users && @users.length > 0 %>
            <div class="container card-service" id="cards-width">
            <% @users.each do |user| %>
                <div class="card text-center shadow rounded rounded-5 border border-dark mt-5" id="cards" style="width:300px;">
                    <div class="card-body width-shape">
                        <div class="card-header shadow rounded-5 border border-primary mt-1">
                            <img src=<%= asset_path('user_img.jpg') %> class="profile-photo rounded rounded-circle shadow" alt="foto">
                            <h5 class="card-title" ><%= link_to (user.name.split(" ").first+" "+user.name.split(" ").last), user_path(user), class: "text-primary text-decoration-none" %></h5>
                        </div>
                        <div style="margin-bottom:10px;">
                            <% if user.isContratante %>
                                <p class='mt-3'><%= pluralize(user.services.count, "serviços")%> cadastrados</p>
                            <% else %>
                                <p class='mt-3'><%= pluralize(count_realized_services(user), "serviços")%> realizados</p>
                            <% end %>
                            <%= link_to 'Visualizar', user_path(user), class: "btn btn-success rounded-pill" %>
                            <% if user_signed_in? && ( user == current_user ) %>
                                <%= link_to 'Editar Perfil', edit_user_registration_path(user), class: "btn btn-warning rounded-pill" %>
                            <% end %>
                        </div>
                    </div>

                    <div class="card-footer text-muted" id="card-div">
                        <p class="card-text">
                            <% if user.score.nil? %>
                                sem avaliações
                            <% else %>
                                <%= user.score %>
                            <% end %>
                        </p>
                    </div>
                </div>
            <% end %>
            </div>
        <% else %>
            <h4 class='mt-5'>Ops... Parece que não há usuários perto de você no momento, tente mais tarde</h4>
        <% end %>
    </div>
    <div class="flickr_pagination d-flex justify-content-center my-4">
        <div class="text-center">
            <%= will_paginate @users, :container => false, class: "shadow" %>
        </div>
    </div>
<% else %>
    <h4 class="mt-5">Você não possui localização cadastrada :(</h4>
    <h5 class="mt-3">Para utilizar essa funcionalidade, você deve permitir coletarmos sua localização</h5>

    <p class="mt-5">
        Para ativar primeiro permita que o site saiba a sua localizacao no popup no canto superior esquerdo,
        depois clique no botão abaixo, ao clicar você ira compartilhar sua localização com esse website
    </p>
    <%= form_with(model: UserPlace.new, class: "p-3 mb-3 rounded", local: true, id: 'get-location-form') do |f| %>
        <%= f.hidden_field :id, value: current_user.id %>
        <%= f.hidden_field :lat_lon, value: "", id: 'lat_lon' %>
        <%= f.submit('Compartilhar Localização', class: "btn btn-primary link_form") %>
    <% end %>
<% end %>

<script>
    function getLocation(){
        if (navigator.geolocation){
            navigator.geolocation.getCurrentPosition(passPosition);
        }
    }
    function passPosition(position){
        return position
    }

    var loc = getLocation()
    let form = document.getElementById('get-location-form');
    let inputValue = document.getElementById('lat_lon');
    //form.addEventListener('submit', (event) => {
    if (navigator.geolocation){
        navigator.geolocation.getCurrentPosition((position)=>{
            inputValue.value = `[${position['coords']['latitude']},${position['coords']['longitude']}]`
            console.log(inputValue)
        });
    }
    //});
</script>