<nav
  class="navbar navbar-expand-lg navbar-light shadow-sm bg-body rounded nav-fixed"
>
  <div class="container-fluid">
    <a class="navbar-brand" href=<%= "#{root_path}" %>>
      <div class="icon-navbar-custom">
        <%= image_tag("favicon.png", :alt => "icon") %>&nbsp
        ServFinder
      </div>
    </a>
    <div class="shadow p-1 bg-body rounded rounded-pill border border-primary d-flex" id="search-navbar">
      <a href=<%= "#{users_path}"%>><button class="btn btn-primary rounded-pill text-center"><%= fa_icon 'globe' %></button></a>
      <form class="d-flex">
        <input class="form-control mx-2 rounded-pill" type="search" placeholder="O Que Você Busca" aria-label="Search" id='text-search'>
        <a href="" id="go-page"><button class="btn btn-outline-primary rounded-pill text-center" type="submit"><%= fa_icon 'search' %></button></a>
      </form>
    </div>
    <div class="dropdown dropstart shadow bg-body rounded rounded-pill border border-primary" id="user-pill">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <%= fa_icon 'bars' %>&nbsp&nbsp<%= fa_icon 'user' %>
        </a>
        <ul class="dropdown-menu rounded-3" aria-labelledby="navbarDropdown" >
          <% if user_signed_in? %>
            <% if current_user.isContratante %>
              <li><a class="dropdown-item" href=<%="#{new_service_path}"%>>Criar Novo Serviço</a></li>
              <li><hr class="dropdown-divider"></li>
            <% end %>

            <% ongoing = services_on_going(current_user) %>
            <% if ongoing.empty? %>
              <li class="dropdown-item" style="pointer-events: none;">Em Andamento: 0</li>
            <% else %>
              <li><a class="dropdown-item" href=<%="#{user_service_path(ongoing)}"%>>
                Em Andamento: <span class="badge bg-secondary"><%= ongoing.size %></span>
              </a></li>
            <% end %>

            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href=<%="#{user_path(current_user)}"%>>Meu Perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href=<%="#{edit_user_registration_path}"%>>Editar Perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <%= link_to("Sair", destroy_user_session_path, class: "dropdown-item", method: :delete)%>
          <% else %>
            <li><a class="dropdown-item" href=<%="#{new_user_session_path}"%>>Entrar/Cadastrar-se</a></li>
          <% end %>
        </ul>
    </div>
  </div>
</nav>

<script>
  $('#text-search').keyup(function(){
    var text = $(this).val();
    const a = document.querySelector("#go-page");
    a.href = `/user_services?search=${text}`
  });
</script>