<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm bg-body rounded">
  <div class="container-fluid">
    <a class="navbar-brand" href=<%= "#{root_path}" %>>
      <div class="icon-navbar-custom">
        <%= image_tag("favicon.png", :alt => "icon") %>&nbsp
        ServFinder
      </div>
    </a>
    <div class="shadow p-1 bg-body rounded rounded-pill border border-primary" id="search-navbar">
      <form class="d-flex">
        <input class="form-control me-2 rounded-pill" type="search" placeholder="O Que Você Busca" aria-label="Search">
        <button class="btn btn-outline-primary rounded-pill text-center" type="submit"><%= fa_icon 'search' %></button>
      </form>
    </div>
    <div class="dropdown dropstart shadow bg-body rounded rounded-pill border border-primary" id="user-pill">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <%= fa_icon 'bars' %>&nbsp&nbsp<%= fa_icon 'user' %>
        </a>
        <ul class="dropdown-menu rounded-3" aria-labelledby="navbarDropdown" >
          <% if user_signed_in? %>
            <li><a class="dropdown-item" href=<%="#{new_service_path}"%>>Criar Novo Serviço</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href=<%="#{user_path(current_user)}"%>>Meus Serviços</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href=<%="#{edit_user_registration_path}"%>>Editar Perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <%= link_to("Sair", destroy_user_session_path, class: "dropdown-item", method: :delete)%>
          <% else %>
            <li><a class="dropdown-item" href=<%="#{new_user_session_path}"%>>Entrar/Cadastrar-se</a></li>
          <% end %>
        </ul>
    </div>
  </div>
</nav>